{:deps {scicloj/metamorph.ml       {:mvn/version "0.3.0-alpha4-SNAPSHOT" }
        scicloj/scicloj.ml.smile   {:mvn/version "5.04-SNAPSHOT"}
        scicloj/scicloj.ml.xgboost {:mvn/version "5.02"}
        scicloj/tablecloth         {:mvn/version "5.05.1" :exclusions [ch.qos.logback/logback-classic]}
        }
 :aliases {
           :test {:extra-paths ["test"]
                  :extra-deps {clj-djl/clj-djl {:mvn/version "0.1.5" :exclusions [org.slf4j/slf4j-simple]}
                               ch.qos.logback/logback-classic {:mvn/version "1.2.3"}
                               scicloj/notespace {:mvn/version "3-beta5"}
                               scicloj/sklearn-clj {:mvn/version "0.3.0"}}
                  clj-python/libpython-clj {:mvn/version "2.00-beta-12"}}

           :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
           :main-opts ["-m" "cognitect.test-runner"
                       "-d" "test"
                       ]}

           :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aot true}}
           ;; build a jar (library):
           :jar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
                 :exec-fn hf.depstar/jar
                 :exec-args {:jar "scicloj.ml.jar"}}
           ;; generic depstar alias, use with jar or uberjar function name:
           :depstar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
                     :ns-default hf.depstar
                     :exec-args {}}

           :install {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local

                                 :artifact "scicloj.ml.jar"}
                     }
           :codox {:extra-deps {codox/codox {:mvn/version "0.10.7" :exclusions [org.ow2.asm/asm-all]}
                                codox-theme-rdash/codox-theme-rdash {:mvn/version "0.1.2"}
                                hiccup/hiccup {:mvn/version "1.0.5"}
                                enlive/enlive {:mvn/version "1.1.6"}
                                org.pegdown/pegdown {:mvn/version "1.6.0"}
                                org.ow2.asm/asm-all {:mvn/version "5.2"}}
                   :exec-fn codox.main/generate-docs
                   :exec-args {:language :clojure
                               :metadata {:doc/format :markdown}
                               :themes [:rdash]
                               :output-path "docs"}}

           }
 }
